.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.head{
  text-align: center;
  border-radius: 50px;
  width: 80%;
}
.range{
  cursor: pointer; 
  top: 10px;
 
}
h1{
  font-size:50px;
}
.text{
  font-size: 20px;
  border-radius: 5px;
}
label{
  font-size: 20px;
  font-weight:bold;
}
button{
  background-color: rgb(0, 248, 240);
}
input[type="range"] {
   accent-color:rgb(241, 18, 167);
}
